<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header">
</head>
<div class="gray-bg">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>

                            <li>
                                请选择所属村组：<input type="text" name="grouptype" id="grouptype" onclick="selectAidTree()"/>
                            </li>



                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="countsearch()"><i class="fa fa-search"></i>&nbsp;查询党员的学历</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>党员信息学历统计</h5>
                        <div class="ibox-tools">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-superpowers"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a onclick="init_member_terminalstate()_terminalstate()">原始数据</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="echarts" id="member_terminalstate"></div>
                    </div>
                </div>

            </div>
            <!--<table id="bootstrap-table" data-mobile-responsive="true"></table>-->
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<!--js-->
<script th:src="@{/js/plugins/simditor/module.js}"></script>

<!--echarts 可视化图形 插件-->
<script th:src="@{/js/plugins/echarts/echarts.min.js}"></script>
<script th:src="@{/js/plugins/echarts/echarts-gl.min.js}"></script>
<script>
    var prefix = ctx + "village/analysis";

    function countsearch()
    {
        $.modal.loading("正在查询，请稍后...");
        var grouptype=$("#grouptype").val();
        $.ajax({
            url:prefix + "/count",
            data :{"grouptype":$("#grouptype").val()},
            type : 'POST',
            dataType : 'text',
            success:function(data){
                var count=data.split('|')[0];
                var edu1=data.split('|')[1];//硕士研究生
                var edu2=data.split('|')[2];//本科
                var edu3=data.split('|')[2];//大专
                var edu4=data.split('|')[2];//中专
                var edu5=data.split('|')[2];//高中
                var edu6=data.split('|')[2];//初中
                var edu7=data.split('|')[2];//小学
                $.modal.closeLoading();
                init_member_terminalstate(count,edu1,edu2,edu3,edu4,edu5,edu6,edu7);

            }
        })


    }

    function init_member_terminalstate(count,edu1,edu2,edu3,edu4,edu5,edu6,edu7) {
        var bd_terminalstate = echarts.init(document.getElementById('member_terminalstate'));
        option = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: ['硕士研究生', '本科','大专','中专','高中','初中','小学']
            },
            series: [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius: '90%',
                    center: ['50%', '50%'],
                    data: [
                        {value: edu1, name: '硕士研究生'},
                        {value: edu2, name: '本科'},
                        {value: edu3, name: '大专'},
                        {value: edu4, name: '中专'},
                        {value: edu5, name: '高中'},
                        {value: edu6, name: '初中'},
                        {value: edu7, name: '小学'}
                    ],
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }]

        };
        bd_terminalstate.setOption(option);
    }

    /*用户管理-新增-选择用户所属区域树*/
    function selectAidTree() {
        var url = "/broad/organization/selectAidTree";
        var options = {
            title: '选择区域',
            width: "380",
            url: "/broad/organization/selectAidTree",
            callBack: doSubmitAid
        };
        $.modal.openOptions(options);
    }

    /*该模块是选择用户所属区域树的提交功能模块，body.find()方法中该使用框架固定的treeId、treeName*/
    function doSubmitAid(index, layero){
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        if ($.tree.notAllowParents(tree)) {
            var body = layer.getChildFrame('body', index);
            // $("#aid").val(body.find('#treeId').val());
            var groupname=(body.find('#treeName').val()).replace("组","");
            $("#grouptype").val(groupname);
            /*console.log(body.find('#treeId').val());
            console.log(body.find('#treeName').val());*/
            layer.close(index);
        }

    }

    function doSubmit(index, layero){
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        if ($.tree.notAllowParents(tree)) {
            var body = layer.getChildFrame('body', index);
            $("#treeId").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            layer.close(index);
        }
    }
</script>


</body>
</html>