<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="container-div ui-layout-center">
	<div class="row">
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
	</div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/ajax/libs/jquery-layout/jquery.layout-latest.js}"></script>
<script th:inline="javascript">
    var prefix = ctx + "broad/organization";
    $(function() {
        queryAreaList();
    });
    function queryAreaList() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                exportUrl: prefix + "/export",
				removeUrl: prefix + "/remove",
				rdsSetUrl: prefix + "/rdsSet",
                fmfrequencyUrl: prefix + "/fmfrequencySet",
                modalName: "终端管理",
                search: false,
                showExport: true,
                striped: true,
                pagination: true,
                pageSize: 10,
                columns: [{
                    checkbox: true
                },
					{
						field : 'tid',
						title : '终端IMEI',
						visible: true
					},
					{
						field : 'tname',
						title : '终端名称'
					},
					{
						field : 'username',
						title : '区域编号'
					},
					{
						field : 'aname',
						title : '区域名称'
					},
                    {
                        field : 'lastaccesstime',
                        title : '最后访问日期'
                    },
                    {
                        field : 'intertime',
                        title : '交互时间'
                    },
                    {
                        field : 'terminaltype',
                        title : '终端类型'
                    },
                    {
                        field : 'longitude',
                        title : '终端经度'
                    },
					{
						field : 'latitude',
						title : '终端纬度'
					},
                    {
                        field : 'basestation',
                        title : ''
                    },
                    {
                        field : 'phone',
                        title : '终端电话'
                    },
                    {
                        field : 'maintenanceFunds',
                        title : '年维护经费'
                    },
                    {
                        field : 'ypowerconsumption',
                        title : '年好点量'
                    },
                    {
                        field : 'usetraffic',
                        title : '终端纬度'
                    },
                    {
                        field : 'onlinestate',
                        title : '在线状态'
                    },
                    {
                        field : 'dcs',
                        title : 'DCS码'
                    },
                    {
                        field : 'transmitpower',
                        title : '发射功率'
                    },
                    {
                        field : 'reflectedpower',
                        title : '反射功率'
                    },
                    {
                        field : 'workvoltage',
                        title : '工作电压'
                    },
                    {
                        field : 'batteryvoltage',
                        title : '电池电压'
                    },
                    {
                        field : 'loadcurrent',
                        title : '负载电压'
                    },
                    {
                        field : 'fmfrequency',
                        title : '发射频率'
                    },
                    {
                        field : 'manager',
                        title : '终端管理员'
                    },
                    {
                        field : 'managertel',
                        title : '管理员电话'
                    },
                    {
                        field : 'createdtime',
                        title : '创建时间'
                    },
                    {
                        field : 'isuse',
                        title : '是否启用'
                    },
                    {
                        field : 'address',
                        title : '终端地址'
                    },
                    {
                        field : 'aid',
                        title : '终端地域id',
						visible: false
                    },
					]
            };
        $.table.init(options);
    };
</script>
</body>
</html>