<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico"> <link href="css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>

<body class="gray-bg" >
<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="text-center article-title">
                        <h1 th:text="${listByid.vname}"></h1>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-white btn-xs" type="button">[[${listByid.age}]]岁</button>
                        <button class="btn btn-white btn-xs" type="button">[[${listByid.nation}]]族</button>
                        <button class="btn btn-white btn-xs" type="button">[[${listByid.politics}]]</button>
                        <button class="btn btn-white btn-xs" type="button">入党时间:[[${listByid.partyjoindate}]]</button>
                        <button class="btn btn-white btn-xs" type="button">[[${listByid.edulevel}]]</button>
                        <button class="btn btn-white btn-xs" type="button">[[${listByid.marital}]]</button>
                        <button class="btn btn-white btn-xs" type="button">[[${listByid.job}]]</button>
                        <button class="btn btn-white btn-xs" type="button">[[${listByid.company}]]</button>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-white btn-xs" type="button">[[${listByid.nativeplace}]]</button>
                        <button class="btn btn-white btn-xs" type="button">[[${listByid.prt}]]</button>
                        <button class="btn btn-white btn-xs" type="button">户籍地址：[[${listByid.pra}]]</button>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-white btn-xs" type="button">[[${listByid.idcard}]]</button>
                        <button class="btn btn-white btn-xs" type="button">[[${listByid.phone}]]</button>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-white btn-xs" type="button">现居住地：[[${listByid.home}]]</button>
                        <button class="btn btn-white btn-xs" type="button">[[${listByid.house}]]</button>
                        <button class="btn btn-white btn-xs" type="button">户主：[[${listByid.hhd}]]</button>
                        <button class="btn btn-white btn-xs" type="button">户主号：[[${listByid.hhdnum}]]</button>
                    </div>
                </div>
            </div>
            <div>
                <h4>健康状况:</h4><p th:utext="${listByid.health}"></p>
                <h4>身高:</h4><p th:utext="${listByid.height}"></p>
                <h4>驾照:</h4><p th:utext="${listByid.drive}"></p>
                <h4>车辆:</h4><p th:utext="${listByid.car}"></p>
                <h4>车辆类型:</h4><p th:utext="${listByid.vtype}"></p>
                <h4>车牌号:</h4><p th:utext="${listByid.carnum}"></p>
                <h4>特种信息:</h4><p th:utext="${listByid.special}"></p>
                <h4>优抚信息:</h4><p th:utext="${listByid.entitle}"></p>
                <h4>计生情况:</h4><p th:utext="${listByid.familyplan}"></p>
                <h4>医疗情况:</h4><p th:utext="${listByid.medical}"></p>
                <h4>补助情况:</h4><p th:utext="${listByid.subsidy}"></p>
                <h4>保险情况:</h4><p th:utext="${listByid.insurance}"></p>
                <h4>犯罪史:</h4><p th:utext="${listByid.criminal}"></p>
                <h4>优抚信息:</h4><p th:utext="${listByid.entitle}"></p>
                <h4>计生情况:</h4><p th:utext="${listByid.familyplan}"></p>
                <h4>医疗情况:</h4><p th:utext="${listByid.medical}"></p>
                <h4>补助情况:</h4><p th:utext="${listByid.subsidy}"></p>
                <h4>保险情况:</h4><p th:utext="${listByid.insurance}"></p>
                <h4>犯罪史:</h4><p th:utext="${listByid.criminal}"></p>
                <h4>吸毒史:</h4><p th:utext="${listByid.drug}"></p>
                <h4>户主身份证号:</h4><p th:utext="${listByid.hhdidcard}"></p>
                <h4>与户主关系:</h4><p th:utext="${listByid.hhdrelation}"></p>
                <h4>职务等级:</h4><p th:utext="${listByid.jobrank}"></p>
                <h4>爱好特长:</h4><p th:utext="${listByid.hobby}"></p>
                <h4>思想动向:</h4><p th:utext="${listByid.trend}"></p>
                <h4>就业状态:</h4><p th:utext="${listByid.jobstate}"></p>
                <h4>大病医疗:</h4><p th:utext="${listByid.pr}"></p>
                <h4>医保情况:</h4><p th:utext="${listByid.medinsur}"></p>
                <h4>新农保:</h4><p th:utext="${listByid.fmi}"></p>
                <h4>新农保状态:</h4><p th:utext="${listByid.fmistate}"></p>
                <h4>社保:</h4><p th:utext="${listByid.security}"></p>
                <h4>商业保险:</h4><p th:utext="${listByid.bsecurity}"></p>
                <h4>低保情况:</h4><p th:utext="${listByid.subsis}"></p>
                <h4>特贫/困户:</h4><p th:utext="${listByid.poor}"></p>
                <h4>行驶证号:</h4><p th:utext="${listByid.drivenum}"></p>
                <h4>技术类型:</h4><p th:utext="${listByid.techtype}"></p>
                <h4>技术等级:</h4><p th:utext="${listByid.techgrade}"></p>
                <h4>职称等级:</h4><p th:utext="${listByid.titgrade}"></p>
                <h4>是否迁移（地址）:</h4><p th:utext="${listByid.move}"></p>
                <h4>田地面积:</h4><p th:utext="${listByid.fieldarea}"></p>
                <h4>林地面积:</h4><p th:utext="${listByid.forestarea}"></p>
                <h4>水塘面积:</h4><p th:utext="${listByid.poolarea}"></p>
                <h4>家庭收入:</h4><p th:utext="${listByid.income}"></p>
                <h4>个人财产总额:</h4><p th:utext="${listByid.totalppt}"></p>
                <h4>月收入:</h4><p th:utext="${listByid.mincome}"></p>
                <h4>年收入:</h4><p th:utext="${listByid.yincome}"></p>
                <h4>银行:</h4><p th:utext="${listByid.bank}"></p>
                <h4>银行卡号:</h4><p th:utext="${listByid.bankcardnum}"></p>
                <h4>土地确权:</h4><p th:utext="${listByid.landowner}"></p>
                <h4>综治:</h4><p th:utext="${listByid.landowner}"></p>
                <h4>房屋面积:</h4><p th:utext="${listByid.housearea}"></p>
                <h4>村务宝典登录名:</h4><p th:utext="${listByid.loginname}"></p>
                <h4>个体经营:</h4><p th:utext="${listByid.selfmanage}"></p>
                <h4>经营类型:</h4><p th:utext="${listByid.managetype}"></p>
                <h4>投入成本:</h4><p th:utext="${listByid.cost}"></p>
                <h4>经营月收入:</h4><p th:utext="${listByid.mmincome}"></p>
                <h4>所在组织/社团:</h4><p th:utext="${listByid.organization}"></p>
                <h4>是否土地流转:</h4><p th:utext="${listByid.landtransfer}"></p>
                <h4>土地流转收入:</h4><p th:utext="${listByid.landincome}"></p>
                <h4>是否林地流转:</h4><p th:utext="${listByid.foresttransfer}"></p>
                <h4>林地流转收入:</h4><p th:utext="${listByid.forestincome}"></p>
                <h4>是否征收:</h4><p th:utext="${listByid.levy}"></p>
                <h4>房租收入:</h4><p th:utext="${listByid.rent}"></p>
                <h4>房屋使用状态:</h4><p th:utext="${listByid.housestate}"></p>
                <h4>是否接入电力:</h4><p th:utext="${listByid.psa}"></p>
                <h4>是否接入有线电视:</h4><p th:utext="${listByid.ca}"></p>
                <h4>是否接入宽带:</h4><p th:utext="${listByid.woban}"></p>
                <h4>是否接入自来水:</h4><p th:utext="${listByid.water}"></p>
                <h4>是否接入安防系统:</h4><p th:utext="${listByid.ssa}"></p>
                <h4>是否接入燃气:</h4><p th:utext="${listByid.gfs}"></p>
                <h4>是否垃圾分类:</h4><p th:utext="${listByid.wdr}"></p>
                <h4>道路是否到户:</h4><p th:utext="${listByid.rth}"></p>
                <h4>个人照片:</h4><p th:utext="${listByid.personphoto}"></p>
                <h4>户口照片:</h4><p th:utext="${listByid.hkphoto}"></p>
                <h4>身份证照片:</h4><p th:utext="${listByid.idphoto}"></p>
                <h4>汽车照片:</h4><p th:utext="${listByid.carphoto}"></p>
                <h4>房屋照片:</h4><p th:utext="${listByid.housephoto}"></p>
                <h4>获奖情况:</h4><p th:utext="${listByid.winaward}"></p>
                <h4>处分情况:</h4><p th:utext="${listByid.punish}"></p>
            </div>

        </div>


        </div>
    </div>

</div>
<script src="js/jquery.min.js?v=2.1.4"></script>
<script src="js/bootstrap.min.js?v=3.3.6"></script>
<script src="js/content.min.js?v=1.0.0"></script>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
</body>


<!-- Mirrored from www.zi-han.net/theme/hplus/article.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:19:47 GMT -->
</html>
